script(src="../src/vendor/jquery/jquery.js")
script(src="../src/vendor/owl-carousel/script/owl.carousel.min.js")
script(src="../src/vendor/bootstrap/script/bootstrap.bundle.min.js")
script(src="js/script.js")
script(src="js/preloader.js")
script(src="js/tabs.js")
script(src="js/searchCard.js")
script(src="js/sortCard.js")
script(src="../src/vendor/wow/wow.min.js")
script
    |new WOW().init()