.breadcrumb-box 
    .container 
        nav(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item: a(href="#") Главная
                li.breadcrumb-item: a(href="#") Новости
                li.breadcrumb-item.active(aria-current="page") Пост