doctype html
html(lang="en")
  include layout/head.pug
  body
    include layout/header.pug 
    main 
      include layout/inner.pug 
      .post 
        .container 
          .row 
            .post-content
              .post-img
                img.w-100.h-100.object-fit-cover(src="../assets/img/news/news-1.jpg" alt="Post")
              .post-icon
                .item.d-flex.align-items-center
                  .icon
                    svg(xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none")
                      g(clip-path="url(#clip0_21_19)")
                        path(d="M7 0.875C7 0.642936 6.90781 0.420376 6.74372 0.256282C6.57962 0.0921872 6.35706 0 6.125 0C5.89294 0 5.67038 0.0921872 5.50628 0.256282C5.34219 0.420376 5.25 0.642936 5.25 0.875V1.75H3.5C2.57174 1.75 1.6815 2.11875 1.02513 2.77513C0.368749 3.4315 0 4.32174 0 5.25L0 7H28V5.25C28 4.32174 27.6313 3.4315 26.9749 2.77513C26.3185 2.11875 25.4283 1.75 24.5 1.75H22.75V0.875C22.75 0.642936 22.6578 0.420376 22.4937 0.256282C22.3296 0.0921872 22.1071 0 21.875 0C21.6429 0 21.4204 0.0921872 21.2563 0.256282C21.0922 0.420376 21 0.642936 21 0.875V1.75H7V0.875ZM28 24.5V8.75H0V24.5C0 25.4283 0.368749 26.3185 1.02513 26.9749C1.6815 27.6313 2.57174 28 3.5 28H24.5C25.4283 28 26.3185 27.6313 26.9749 26.9749C27.6313 26.3185 28 25.4283 28 24.5ZM16.625 12.25H18.375C18.6071 12.25 18.8296 12.3422 18.9937 12.5063C19.1578 12.6704 19.25 12.8929 19.25 13.125V14.875C19.25 15.1071 19.1578 15.3296 18.9937 15.4937C18.8296 15.6578 18.6071 15.75 18.375 15.75H16.625C16.3929 15.75 16.1704 15.6578 16.0063 15.4937C15.8422 15.3296 15.75 15.1071 15.75 14.875V13.125C15.75 12.8929 15.8422 12.6704 16.0063 12.5063C16.1704 12.3422 16.3929 12.25 16.625 12.25ZM21.875 12.25H23.625C23.8571 12.25 24.0796 12.3422 24.2437 12.5063C24.4078 12.6704 24.5 12.8929 24.5 13.125V14.875C24.5 15.1071 24.4078 15.3296 24.2437 15.4937C24.0796 15.6578 23.8571 15.75 23.625 15.75H21.875C21.6429 15.75 21.4204 15.6578 21.2563 15.4937C21.0922 15.3296 21 15.1071 21 14.875V13.125C21 12.8929 21.0922 12.6704 21.2563 12.5063C21.4204 12.3422 21.6429 12.25 21.875 12.25ZM3.5 18.375C3.5 18.1429 3.59219 17.9204 3.75628 17.7563C3.92038 17.5922 4.14294 17.5 4.375 17.5H6.125C6.35706 17.5 6.57962 17.5922 6.74372 17.7563C6.90781 17.9204 7 18.1429 7 18.375V20.125C7 20.3571 6.90781 20.5796 6.74372 20.7437C6.57962 20.9078 6.35706 21 6.125 21H4.375C4.14294 21 3.92038 20.9078 3.75628 20.7437C3.59219 20.5796 3.5 20.3571 3.5 20.125V18.375ZM9.625 17.5H11.375C11.6071 17.5 11.8296 17.5922 11.9937 17.7563C12.1578 17.9204 12.25 18.1429 12.25 18.375V20.125C12.25 20.3571 12.1578 20.5796 11.9937 20.7437C11.8296 20.9078 11.6071 21 11.375 21H9.625C9.39294 21 9.17038 20.9078 9.00628 20.7437C8.84219 20.5796 8.75 20.3571 8.75 20.125V18.375C8.75 18.1429 8.84219 17.9204 9.00628 17.7563C9.17038 17.5922 9.39294 17.5 9.625 17.5Z")
                      defs
                        clipPath(id="clip0_21_19")
                          rect(width="28" height="28")
                  p.mb-0 16 Января, 2024
              .title 
                h2 Кормушка для птиц
              p В комплексном центре социального обслуживания населения Седельниковского района прошел первый в наступившем году мастер-класс в рамках программы ″Реабилитационные мастерские″ под руководством специалиста по социальной работе отделения реабилитации инвалидов Светланы Есипенко  и педагога МБОУ ДО ″Седельниковская ДШИ″ Татьяны Коваленко, посвящен доброму и увлекательному делу – росписи кормушек для птиц.
    include layout/footer.pug 